*.nc
*.tiff
*.asc
*.png
*.log
*.html
*.csv
maxent.cache
outputs/bc26bi50/
outputs/bc26bi70/
outputs/bc45bi50/
outputs/bc45bi70/
outputs/bc60bi50/
outputs/bc60bi70/
outputs/bc85bi50/
outputs/bc85bi70/
outputs/bcmidbi/
outputs/cc26bi50/
outputs/cc26bi70/
outputs/cc45bi50/
outputs/cc45bi70/
outputs/cc60bi50/
outputs/cc60bi70/
outputs/cc85bi50/
outputs/cc85bi70/
outputs/cclgmbi/
outputs/ccmidbi/
outputs/cnmidbi/
outputs/gs26bi50/
outputs/gs26bi70/
outputs/gs45bi50/
outputs/gs45bi70/
outputs/gs60bi50/
outputs/gs60bi70/
outputs/gs85bi50/
outputs/gs85bi70/
outputs/hd26bi50/
outputs/hd26bi70/
outputs/hd45bi50/
outputs/hd45bi70/
outputs/hd60bi50/
outputs/hd60bi70/
outputs/hd85bi50/
outputs/hd85bi70/
outputs/he26bi50/
outputs/he26bi70/
outputs/he45bi50/
outputs/he45bi70/
outputs/he60bi50/
outputs/he60bi70/
outputs/he85bi50/
outputs/he85bi70/
outputs/hemidbi/
outputs/hgmidbi/
outputs/ip26bi50/
outputs/ip26bi70/
outputs/ip45bi50/
outputs/ip45bi70/
outputs/ip60bi50/
outputs/ip60bi70/
outputs/ip85bi50/
outputs/ip85bi70/
outputs/ipmidbi/
outputs/mc26bi50/
outputs/mc26bi70/
outputs/mc45bi50/
outputs/mc45bi70/
outputs/mc60bi50/
outputs/mc60bi70/
outputs/mc85bi50/
outputs/mc85bi70/
outputs/melgmbi/
outputs/memidbi/
outputs/mg26bi50/
outputs/mg26bi70/
outputs/mg45bi50/
outputs/mg45bi70/
outputs/mg60bi50/
outputs/mg60bi70/
outputs/mg85bi50/
outputs/mg85bi70/
outputs/mgmidbi/
outputs/mi26bi50/
outputs/mi26bi70/
outputs/mi45bi50/
outputs/mi45bi70/
outputs/mi60bi50/
outputs/mi60bi70/
outputs/mi85bi50/
outputs/mi85bi70/
outputs/mr26bi50/
outputs/mr26bi70/
outputs/mr45bi50/
outputs/mr45bi70/
outputs/mr60bi50/
outputs/mr60bi70/
outputs/mr85bi50/
outputs/mr85bi70/
outputs/mrlgmbi/
outputs/mrmidbi/
outputs/no26bi50/
outputs/no26bi70/
outputs/no45bi50/
outputs/no45bi70/
outputs/no60bi50/
outputs/no60bi70/
outputs/no85bi50/
outputs/no85bi70/
data/bc26bi50/
data/bc26bi70/
data/bc45bi50/
data/bc45bi70/
data/bc60bi50/
data/bc60bi70/
data/bc85bi50/
data/bc85bi70/
data/bcmidbi/
data/cc26bi50/
data/cc26bi70/
data/cc45bi50/
data/cc45bi70/
data/cc60bi50/
data/cc60bi70/
data/cc85bi50/
data/cc85bi70/
data/cclgmbi/
data/ccmidbi/
data/cnmidbi/
data/gs26bi50/
data/gs26bi70/
data/gs45bi50/
data/gs45bi70/
data/gs60bi50/
data/gs60bi70/
data/gs85bi50/
data/gs85bi70/
data/hd26bi50/
data/hd26bi70/
data/hd45bi50/
data/hd45bi70/
data/hd60bi50/
data/hd60bi70/
data/hd85bi50/
data/hd85bi70/
data/he26bi50/
data/he26bi70/
data/he45bi50/
data/he45bi70/
data/he60bi50/
data/he60bi70/
data/he85bi50/
data/he85bi70/
data/hemidbi/
data/hgmidbi/
data/ip26bi50/
data/ip26bi70/
data/ip45bi50/
data/ip45bi70/
data/ip60bi50/
data/ip60bi70/
data/ip85bi50/
data/ip85bi70/
data/ipmidbi/
data/mc26bi50/
data/mc26bi70/
data/mc45bi50/
data/mc45bi70/
data/mc60bi50/
data/mc60bi70/
data/mc85bi50/
data/mc85bi70/
data/melgmbi/
data/memidbi/
data/mg26bi50/
data/mg26bi70/
data/mg45bi50/
data/mg45bi70/
data/mg60bi50/
data/mg60bi70/
data/mg85bi50/
data/mg85bi70/
data/mgmidbi/
data/mi26bi50/
data/mi26bi70/
data/mi45bi50/
data/mi45bi70/
data/mi60bi50/
data/mi60bi70/
data/mi85bi50/
data/mi85bi70/
data/mr26bi50/
data/mr26bi70/
data/mr45bi50/
data/mr45bi70/
data/mr60bi50/
data/mr60bi70/
data/mr85bi50/
data/mr85bi70/
data/mrlgmbi/
data/mrmidbi/
data/no26bi50/
data/no26bi70/
data/no45bi50/
data/no45bi70/
data/no60bi50/
data/no60bi70/
data/no85bi50/
data/no85bi70/
